/* default css

$brandColor: darkorchid;

body {
  font-family: system-ui;
  background: linear-gradient(to bottom, $brandColor, darken($brandColor, 15%));
  color: white;
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
  background-color: #F5F5F5;
 
}

*/

body {
    background-color: #F5F5F5;
    background-color: grey;
}

.page_headline {
    background-color: white;
    color: black;
}

.page_head_section {
    background-color: #a6a6a6;
}

h2 {
    color: white;
}

.movie_container {
    display: flex;
    flex-flow: row wrap;
}

.actor_container {
    display: flex;
    flex-flow: row wrap;
}

.places_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 2px solid red;
    background-color: black;
}

.place_box {
    display: inline-block;
}

.ordered_lists_container {
    display: flex;
}

.unordered_lists_container {
    display: flex;
}


/* .lists_and_tables {} */

h3 {
    /*   background-color: black; */
    color: white;
}

.yellowback {
    background-color: yellow;
    color: blue;
}

.blueback {
    background-attachment: lightblue;
    border: 2px solid red;
}